services:
  web:
    image: ghcr.io/wiktorwijata/portfolio-web:${WEB_TAG:-latest}
    container_name: portfolio-web-prod
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - portfolio-prod

  caddy:
    image: caddy:2-alpine
    container_name: caddy-prod
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - portfolio-prod

volumes:
  caddy_data:
  caddy_config:

networks:
  portfolio-prod:
    driver: bridge
