<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="RescuePC-GitHub" value="https://nuget.pkg.github.com/RescuePC-Software/index.json" />
    <add key="IntegratorAI-GitHub" value="https://nuget.pkg.github.com/WiktorWijata/index.json" />
  </packageSources>
</configuration>