@import 'tailwindcss';
@import './design-system/theme/base.css';
@import './design-system/theme/dark.css';
@import './design-system/theme/light.css';
@import './design-system/theme/utilities.css';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-surface-editor);
  color: var(--color-content-strong);
  font-family: var(--font-sans);
}
