services:
  web:
    image: ghcr.io/wiktorwijata/portfolio-web:${WEB_TAG:-develop}
    container_name: portfolio-web-dev
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - dev

networks:
  dev:
    external: true
